{% load static %}
{% block content %}

    <!-- ============================================================== -->
    <!-- Start right Content here -->
    <!-- ============================================================== -->
    <div class="main-content">
        <div class="page-content">
            <div class="container-fluid">
                <!-- start page title -->
                <div class="row">
                    <div class="col-12">
                        <div class="page-title-box d-sm-flex align-items-center justify-content-between">
                            <h4 class="mb-sm-0 font-size-18">{{ title }}</h4>
                        </div>
                    </div>
                </div>
                <div class="form-container">
                    <form id="updateHomeBannerForm" method="POST" enctype="multipart/form-data">
                        {% csrf_token %}
                        <!-- HomeBanner Title Section -->
                        <div class="mb-4">
                            <label for="title" class="form-label">HomeBanner Title:</label>
                            <input
                                type="text"
                                class="form-control"
                                id="title"
                                name="title"
                                placeholder="Title"
                                value="{{ homeBanner_instance.title}}"
                                required
                            />
                        </div>
    
                        <!-- Dropdown for Location Selection -->
                        <div class="mb-4">
                            <label for="locations" class="form-label">Locations</label>
                    <div class="dropdown">
                      <button class="btn btn-outline-primary dropdown-toggle w-100" type="button" id="locationDropdown" data-bs-toggle="dropdown" aria-expanded="false">
                          Select Locations
                      </button>
                      <ul class="dropdown-menu w-100" aria-labelledby="locationDropdown">
                        {% for location in locations %}
                        <li>
                            <label class="dropdown-item">
                                <input type="checkbox" class="form-check-input location-checkbox"
                                    name="location" value="{{ location.id }}"
                                    {% if location in homeBanner_instance.location.all %}checked{% endif %}
                                    data-title="{{ location.title }}" onclick="updatePriceFields()" />
                                {{ location.title }}
                            </label>
                        </li>
                    {% endfor %}
                      </ul>
                    </div>
                        </div>
    
                        <!-- HomeBanner Image Upload Section -->
                        <div class="mb-4">
                            <label for="image" class="form-label mb-4">Upload Images:</label>
                            <input
                                type="file"
                                class="form-control"
                                id="image"
                                name="image"
                                onchange="displaySelectedImages2()"
                                accept="image/*"
                            />
                            <div class="mt-3" id="imagePreview" style="display: flex; gap: 10px; flex-wrap: wrap;"></div>
                            <!-- Show the existing image if no new image is selected -->
                            <div id="existingImageContainer" style="position: relative;">
                                {% if homeBanner_instance.image %}
                                    <img
                                        src="{{ homeBanner_instance.image.url }}"
                                        alt="Existing Image"
                                        id="existingImage"
                                        style="width: 100px; height: 100px; object-fit: cover; border: 1px solid #ddd; border-radius: 5px;"
                                    />
                                {% endif %}
                            </div>
                        </div>
    
                        <!-- HomeBanner Description Section -->
                        <div class="mb-4">
                            <label for="description" class="form-label">HomeBanner Description:</label>
                            <textarea
                                class="form-control description-box"
                                id="description"
                                name="description"
                                placeholder="Description"
                            >{{ homeBanner_instance.description }}</textarea>
                        </div>
    
                        <!-- Submit Button -->
                        <div class="text-center">
                            <button type="submit" class="btn btn-primary custom-button">Submit</button>
                        </div>
                    </form>
                </div>
            </div>
            <!-- container-fluid -->
        </div>
        <!-- End Page-content -->
    
        {% block footer %}
            {% include 'partials/footer.html' %}
        {% endblock footer %}
    </div>
    <!-- end main content-->
{% endblock content %}


{% block extra_js %}


<script>

    function displaySelectedImages2() {
        const input = document.getElementById("image");
        const selectedImagesContainer = document.getElementById("imagePreview");
        selectedImagesContainer.innerHTML = ""; // Clear previously displayed images

        // If an image is selected, display it in the preview
        if (input.files.length > 0) {
           
            Array.from(input.files).forEach((file) => {
                if (file.type.startsWith("image/")) {
                    const reader = new FileReader();
                    reader.onload = (event) => {
                        const imageDiv = document.createElement("div");
                        imageDiv.style.position = "relative";
                        const img = document.createElement("img");
                        img.src = event.target.result;
                        img.alt = file.name;
                        img.style.width = "100px";
                        img.style.height = "100px";
                        img.style.objectFit = "cover";
                        img.style.border = "1px solid #ddd";
                        img.style.borderRadius = "5px";
                        imageDiv.appendChild(img);
                        selectedImagesContainer.appendChild(imageDiv);
                    };
                    reader.readAsDataURL(file);
                }
            });
        } 
    }
  


     // Handle form submission with AJAX
    

       // Handle form submission with AJAX
       document.getElementById("updateHomeBannerForm").addEventListener("submit", function(event) {
        event.preventDefault();  // Prevent the default form submission
        
        const formData = new FormData(this);  // Prepare form data including file data
     // Check if a file is selected

     const imageInput = document.getElementById('image');  // Get the image input field

     
     if (imageInput.files.length === 0) {
        // If no file is selected, delete the 'image' field from FormData
        formData.delete('image');
    }
        // Log each formData entry
        for (let [key, value] of formData.entries()) {
            console.log(key, value); // Logs key-value pairs of form data
        }
    // Add CSRF token to the form data
    const csrfToken = document.querySelector('[name=csrfmiddlewaretoken]').value;

    // Make AJAX call to submit form data
    $.ajax({
        type: "PUT",
        url: "{% url 'updateHomeBannerDetail' homeBanner_instance.id %}",
        data: formData,
        processData: false,  // Don't process data (important for file uploads)
        contentType: false, 
        credentials: 'same-origin',
        headers: {
            'X-CSRFToken': csrfToken  // Send CSRF token in the request header
        }, // Don't set content-type (important for file uploads)
        success: function (response) {
            console.log("Outward confirmed successfully:", response);
            window.location.href = "{% url 'getHomeBannerList' %}";
        },
        error: function (xhr, status, error) {
            console.log("Error confirming outward:", error);
            alert("Error: Unable to confirm outward.");
        }
    });
});


    




</script>

{% endblock extra_js %}